*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    text-align: center;
    padding: 6rem;
    transition: background 0.5s linear, color 0.3s linear;
}

body.dark{
   background-color: black;
   color: white;
  
}
.container{
    position: fixed;
    top: 10px;
    right: 5px;
}
label{
    background-color: rebeccapurple;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    transition: background 0.5s linear;
}
body.dark label{
    background-color: white;
    
}
input{
    visibility: hidden;
}